{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <h1>Enter your new password</h1>
    {{ form_start(changepassform) }}
    {{ form_end(changepassform) }}
{% endblock %}