{% extends 'base.html.twig' %}
{% block title %}Change password{% endblock %}
{% block body %}
<h1 class="mb-4">Enter new password</h1>
    {{ form_start(changepass)}}
    {{ form_end(changepass) }}

{% endblock %}