{% extends 'base.html.twig' %}
{% block title %}Change password{% endblock %}
{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
<h1 class="mb-4">Enter old and new passwords</h1>
    {{ form_start(changepass)}}
    {{ form_end(changepass) }}

{% endblock %}