{% extends 'base.html.twig' %}
{% block title %}Change password{% endblock %}
{% block body %}
<h1 class="mb-4">Change password</h1>
    <p>To change password, enter your current and new passwords</p>
    {{ form_start(changepass) }}
    {{ form_end(changepass) }}

{% endblock %}
