{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    {% if user %}
        <h1>Enter your new password</h1>
        {{ form_start(changepassform) }}
        {{ form_end(changepassform) }}
    {% else %}
        <div class="text-center">
            <h5>Sorry, this password reset link is expired or does not exist</h5>
        </div>
    {% endif %}
{% endblock %}