{% extends 'base.html.twig' %}
{% block body %}
    <h1>Hello!</h1>
    <div>
        <p>
            To reset your password on our webpage, follow this link:
        </p>
    </div>
    <a href="{{ url('app_changePsw') }}/{{ id }}">Change password</a>
    </form>
{% endblock %}