{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <h1 class="mb-4">Enter your email</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {{ form_start(emailform) }}
    {{ form_end(emailform) }}
{% endblock %}
