{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <h1>Enter your email</h1>

    {{ form_start(emailform) }}
    {{ form_end(emailform) }}
{% endblock %}
