{% extends 'email_base.html.twig' %}

{% block body %}
    <h1>Hello, {{ username }}!</h1>
    <p>To reset your password on our webpage, follow this link:</p>
    <a class="btn" href="{{ url('app_changePsw') ~ '/' ~ code }}">Change password</a>
{% endblock %}