{% extends 'email_base.html.twig' %}

{% block body %}
    <h1>Hello, {{ username }}!</h1>
    <p>You have successfully registered to our amazing website! All you have to do now is to confirm your email.</p>
    <a class="btn" href="{{ url('app_confirm') ~ '/' ~ code }}">Confirm Email Address</a>
{% endblock %}