{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center">
    {% if user %}
        <h5>Congratulations, {{ user.username }}! Your email has just been verified.</h5>
    {% else %}
        <h5>Sorry, this email confirmation link is expired or does not exist</h5>
    {% endif %}
</div>
{% endblock %}