<h1>Hello, {{ username }}!</h1>
<p>You have successfully registered to our amazing website! All you have to do now is to confirm your e-mail.</p>
<form action="{{ url('app_confirmed') }}/{{ username }}">
    <input type="submit" value="Confirm my e-mail" target="_blank">
</form>