{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>
    {{ form_start(addcategoryform) }}
    {{ form_end(addcategoryform) }}
{% endblock %}
