<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <style>
            .btn {
                display: inline-block;
                border: 1px solid #007bff;
                padding: .375rem .75rem;
                border-radius: .25rem;
                color: #fff;
                background-color: #007bff;
                text-decoration: none;
            }
            .btn:hover {
                background-color: #0069d9;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
