{% extends 'base.html.twig' %}

{% block title %}Create Event{% endblock %}

{% block body %}
    <h1 class="text-center">Create Event</h1>

    {{ form_start(eventForm) }}
    {{ form_widget(eventForm) }}
    <button class="btn btn-primary">Create Event</button>
    {{ form_end(eventForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>

{% endblock %}